<h1> Add a Building </h1>

<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Home</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <li class="has-dropdown">
        <a href="/buildings">Buildings</a>
        <ul class="dropdown">
          <li><a href="/buildings/new">New</a></li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="top-bar-section">
    <ul class="left">
      <li class="has-dropdown">
        <a href="/owners">Owners</a>
        <ul class="dropdown">
          <li><a href="/owners/new">New</a></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>
<br>


  <%= simple_form_for @building do |f| %>
    <%= f.input :address  %>
    <%= f.input :city  %>
    <%= f.input :state, collection: ['AL', 'AK', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL',
      'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS',
      'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'] %>
    <%= f.input :zip  %>
    <%= f.input :description  %>
    <%= f.button :submit, "Add Building"  %>
  <% end %>
